[Unit]
Description=WEG Modem Manager service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/modemapp
#ExecReload=/bin/kill -s HUP $MAINPID

TimeoutSec=0
RestartSec=10
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=modem-app

KillMode=control-group

[Install]
WantedBy=multi-user.target
